<div class="pokemons-container">


    <div class="pokemon-spinner">
        <div class="pokemon-spinner__dark"></div>
        <img src="../../spinner.gif" alt="Loading" class="pokemon-spinner__img">
    </div>

    <div class="pokemons-filter">
    </div>

    <div class="pokemons-list">
    </div>

    <div class="pokemon-preview">
    </div>

    <button class="pokemons-more__btn">
            Load More
    </button>

</div>
